html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  line-height: 1.17;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.logo {
  display: inline-block;
  flex-shrink: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__part {
  color: #2196f3;
  display: inline-block;
}

.main-menu {
  background-color: #ffffff;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    overflow-y: scroll;
    text-align: left;
    z-index: 3;
  }
  .main-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .main-menu {
    display: flex;
    align-items: center;
  }
}

.button-list-menu {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 12px 8px;
  z-index: 4;
  background-color: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .button-list-menu {
    display: none;
  }
}

.button-list-menu.is-open .button-list-menu__icon-menu {
  display: none;
}

.button-list-menu.is-open:hover .button-list-menu__icon-menu,
.button-list-menu.is-open:focus .button-list-menu__icon-menu {
  fill: #2196f3;
}

.button-list-menu .button-list-menu__icon-cross {
  display: none;
}

.button-list-menu.is-open .button-list-menu__icon-cross {
  display: block;
}

.button-list-menu:hover .button-list-menu__icon-cross,
.button-list-menu:focus .button-list-menu__icon-cross {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

@media screen and (max-width: 1199px) {
  .backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal {
  position: relative;
  height: 100vh;
  overflow: scroll;
  padding: 40px;
  background-color: #ffffff;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-close__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
  fill: #2196f3;
}

.social-list {
  display: inline-flex;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover, .social-links:focus {
  background-color: #2196f3;
}

.social-links__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover .social-links__icon,
.social-links:focus .social-links__icon {
  fill: #ffffff;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  padding-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-left: 93px;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .navigation__link {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link--current::after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column-reverse;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.contacts__item-phone {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item-phone {
    margin-bottom: 0;
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.contacts__item {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-link--phone {
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
  }
}

.icon-mail,
.icon-smatrphone {
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover, .icon-mail:focus,
.icon-smatrphone:hover,
.icon-smatrphone:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .icon-mail,
  .icon-smatrphone {
    display: none;
  }
}

.social-networks {
  display: flex;
}

@media screen and (min-width: 768px) {
  .social-networks {
    display: none;
  }
}

.social-networks__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social-networks__item:not(:first-child) {
  padding-left: 10px;
}

.social-networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.main-section {
  max-width: 1600px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-section/header-mobile1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../images/main-section/header-mobile2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-section/header-tablet1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../images/main-section/header-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-section/header-desktop1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../images/main-section/header-desktop2x.jpg);
  }
}

.main-section-content {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main-section-content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-section-content__title {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .main-section-content__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

.main-section-content__btn {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-section-content__btn:hover, .main-section-content__btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.features {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__thumb {
  margin-bottom: 30px;
}

.features__item {
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (max-width: 767px) {
  .features__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__icon {
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 0;
}

.features__list-title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__list-title {
    text-align: left;
  }
}

.features-par {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.what-we-do__list {
  margin: -15px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.what-we-do__item {
  position: relative;
  margin: 15px;
  flex-basis: calc((100% - 90px) / 3);
}

.what-we-do__desk {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: -15px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-content__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.team-content__job {
  font-size: 16px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-link__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-link__icon,
.clients-link:focus .clients-link__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    margin: -15px;
    flex-wrap: nowrap;
  }
}

.down-part__logo {
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__left-side {
  padding-top: 60px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer__left-side {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__left-side {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left-side {
    margin: 15px;
    flex-basis: calc((50% - 45px) / 2);
    padding-bottom: 60px;
    text-align: left;
  }
}

.adress-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.adress-list__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress-list__link {
  color: rgba(255, 255, 255, 0.6);
}

.adress-list__link:hover, .adress-list__link:focus {
  color: #2196f3;
}

.join {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .join {
    padding-top: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin: 15px;
    flex-basis: calc((50% - 45px) / 2);
    text-align: left;
  }
}

.join__title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.footer__social-links {
  background-color: #44454e;
  border-radius: 50%;
}

.footer__social-links:hover, .footer__social-links:focus {
  background-color: #2196f3;
}

.footer__social-links__icon {
  fill: #ffffff;
}

.footer__right-block {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer__right-block {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__right-block {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right-block {
    margin: 15px;
    flex-basis: calc(50% - 15px);
    padding-top: 72px;
    align-items: baseline;
    text-align: left;
  }
}

.subscribe__slogan {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form__label {
  flex-grow: 1;
}

@media screen and (max-width: 1199px) {
  .subscribe-form__label {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__label {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__label {
    margin-right: 12px;
  }
}

.subscribe-form__input {
  display: block;
  padding: 15px 0 15px 16px;
  width: 100%;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px 10px 29px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-left: 0;
    margin-right: 0;
  }
}

.subscribe-button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.modal__text-title {
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: #212121;
}

.form-window {
  position: relative;
}

.form-window__input {
  margin-bottom: 10px;
  padding: 11px 0px 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-window__input:focus {
  border: 1px solid #2196f3;
}

.form-window__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-window__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-25%);
  display: inline-block;
  fill: #212121;
}

.form-fild__input:focus ~ .form-window__icon {
  fill: #2196f3;
}

/* ------------------------------ TEXTAREA ------------------------------ */
.form-window__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: #2196f3;
}

.form-window__textarea:focus {
  border: 1px solid #2196f3;
}

.form-window__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* ----------------------------- FORM POLICY ----------------------------- */
.policy {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy__label {
  display: block;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  font-size: 12px;
  line-height: 1.16;
  text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__checkbox:checked + .policy__icon {
  fill: #2196f3;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}

.policy__checkbox:focus + .policy__icon {
  border: 1px solid #2196f3;
}

.policy__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 16px;
  height: 15px;
}

.send-button {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover, .send-button:focus {
  background-color: #188CE8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

.filters-list__item {
  margin-left: 8px;
  margin-top: 8px;
}

.filters-list__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__btn:hover, .filters-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolio {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__item {
  background-color: #ffffff;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-border {
  height: 100%;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-border__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-border__subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.portfolio-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-thumb__overlay,
.portfolio-link:focus .portfolio-thumb__overlay {
  opacity: 1;
  transform: translate(0);
}

.portfolio-thumb__text {
  position: absolute;
  top: 30px;
  left: 24px;
  right: 24px;
  opacity: 0;
  margin: 0;
  min-width: 322px;
  min-height: 168px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.portfolio-link:hover .portfolio-thumb__text,
.portfolio-link:focus .portfolio-thumb__text {
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .portfolio-thumb__text {
    top: 63px;
  }
}
/*# sourceMappingURL=main.css.map */