.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  height: 92px;

  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $c--accent-color;
  }
}

.clients-link__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $c--accent-color;
  }
}
