.modal__text-title{
  display: flex;
  align-self: center;
  text-align: center;

  margin-bottom: 12px;
  font-size: 20px;
  // line-height: 1.15;
  // text-align: center;
  color: $title-color;
}

.form-window {
  position: relative;
}

.form-window__input {
  margin-bottom: 10px;
  padding: 11px 0px 11px 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid $c--accent-color;
  }
}

.form-window__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $txt-main-color;
}

.form-window__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-25%);

  display: inline-block;
  fill: $title-color;

  .form-fild__input:focus ~ & {
    fill: $c--accent-color;
  }
}

/* ------------------------------ TEXTAREA ------------------------------ */

.form-window__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  width: 100%;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $title-color;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: $c--accent-color;

  &:focus {
    border: 1px solid $c--accent-color;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

/* ----------------------------- FORM POLICY ----------------------------- */

.policy {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy__label {
  display: block;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;

  color:$txt-main-color;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  font-size: 12px;
  line-height: 1.16;

  text-decoration-line: underline;

  color: $c--accent-color;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__checkbox:checked + .policy__icon {
  fill: $c--accent-color;
  border-radius: 2px;
  background-color: $c--accent-color;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}

.policy__checkbox:focus + .policy__icon {
  border: 1px solid $c--accent-color;
}

.policy__icon {
  display: inline-block;
  vertical-align: middle;

  margin-right: 7px;
  width: 16px;
  height: 15px;
}

.send-button {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $c--bg-color;

  background-color: $c--accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
   background-color: #188CE8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
